# 데이터프레임 loc 인덱서
* loc 인덱서를 사용할 때는 행/열 인덱스들이 모두 다음 중 하나이어야 한다.
    * 정수 인덱스가 아닌 라벨 값(원래 인덱스 자체가 정수 인덱스인 경우는 예외적으로 허용)
    * 라벨 값의 리스트나 슬라이싱
    * 불리언 리스트, 1차원 배열, 시리즈 (데이터프레임은 안된다.) 또는 데이터프레임을 입력으로 받고 위의 값을 반환하는 함수

In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["a", "b", "c"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [3]:
df.loc["a", "A"]

10

In [4]:
df.loc["a", :]

A    10
B    11
C    12
D    13
Name: a, dtype: int64

In [5]:
df.loc[["a", "b"], ["B", "D"]]

    B   D
a  11  13
b  15  17

In [6]:
df.loc[:, ["A", "B", "C", "D"]]

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [7]:
df.loc[:, ["A", "B", "C", "D", "E", "F"]]

    A   B   C   D   E   F
a  10  11  12  13 NaN NaN
b  14  15  16  17 NaN NaN
c  18  19  20  21 NaN NaN

In [8]:
df.loc[df.A > 10, :]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21